table {
    width: 100%;
    height: 100vh;
    border-spacing: 0;
}
td {
    border: 0.1vh solid black;
    border-collapse: collapse;
    padding: 4vh 0 4vh 0;
    font-size: 10vh;
    width: 50%;
    height: 100%;
}
.first-cell {
    background-color: rgb(173, 219, 228);
}
.second-cell {
    background-color: rgb(244, 203, 240);
}